html, body{
    width: 100%;
    height: 100%;
}
.bx-wrapper, .bx-viewport, .slider{
    width: 100%;
    height: 100%;
}
.background__01{
    width: 100%;
    height: 100%;
    background: url("../images/1YH06369.JPG") no-repeat;
    background-position: center;
    background-size: cover;
}
.background__02{
    width: 100%;
    height: 100%;
    background: url("../images/1YH07336.JPG") no-repeat;
    background-position: center;
    background-size: cover;
}
.background__03{
    width: 100%;
    height: 100%;
    background: url("../images/1YH07440.JPG") no-repeat;
    background-position: center;
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    background: url("../images/16.png");
    position: absolute;
    top: 0;
    z-index: 10;
}
.contents{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -226px; /*정중앙 456px의 절반을 뺴준다 css기본테크닉*/
    margin-top: -109px; /*정중앙  세로절반을 뺴준다 css기본테크닉*/
    z-index: 20;
    font-weight: bold;
    text-align: center;
}
.contents__name{
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}
.contents__job{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}
.contents__list > li{
    display: inline-block;
    width: 52px;
    height: 52px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 16px;
    line-height: 52px;
    margin-right: 20px;
}
.contents__list > li:last-child{
    margin-right: 0;
}
.contents__list{
    font-size: 0px;

}
.contents__list > li > a{
    color: white;
}
